<h1>Home</h1>


<%= link_to "Clientes", clients_path %><br>
<%= link_to "Lineas de producto", product_lines_path %><br>
<%= link_to "Marcas", brands_path %><br>
<%= link_to "Productos", products_path %><br>
<%= link_to "Brief", briefs_path %><br>
<%= link_to "Media Plan", plan_media_path %><br>
