<%= form_with(model: plan_medium, local: true) do |form| %>
  <% if plan_medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan_medium.errors.count, "error") %> prohibited this plan_medium from being saved:</h2>

      <ul>
      <% plan_medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand_id %>
    <%= form.select :brand, options_from_collection_for_select(@brand, "id", "name")%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :plan_medium_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
